@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    font-family: "Lato", sans-serif;
    color: white;
    background-color: #19191B;
}
p{
    font-size: 28px;
}
a{
    color: rgba(255, 255, 255, 0.70);
    text-decoration: none;
    margin: 1vw;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
header{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.logo{
    height: 10vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3vw;
}
.logo_title{
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
nav{
    height: 10vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.header_button{
    height: 5vh;
    width: 12vw;
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #FFF;
    background-color: #19191B;
    margin-right: 1vw;
}
.header_button:hover{
    background-color: #5454D4;
}
.first{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
}
.left{
    height: 80vh;
    width: 40vw;
    margin-left: 4vw;
}
.center_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center_title{
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 84px;
    margin: 10vh 0 2vh 0;
}
.center_area{
    color: rgba(255, 255, 255, 0.70);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -0.657px;
}
.center_button{
    height: 6vh;
    width: 15vw;
    color: white;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid #5454D4;
    background: #5454D4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
.center_button:hover{
    background-color: #2c7c8c;
    border: #2c7c8c;
}
.center{
    height: 80vh;
    width: 3vw;
}
.second{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.second_text{
    height: 16vh;
    width: 93vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 4vh 0 3vh 0;
}
.second_title{
    width: 40vw;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    margin: 0 0 0 2vw;
}
.second_area{
    width: 42vw;
    color: rgba(255, 255, 255, 0.70);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -0.657px;
    margin: 0 1vw 3vw 0;
}
.third{
    height: 96vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(50% 50% at 50% 50%, #353550 0%, rgba(25, 25, 27, 0.00) 100%);
}
.third_title{
    margin: 2vh 0 0 0;
    width: 50vw;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
}
.third_center{
    height: 70vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.elem{
    height: 30vh;
    width: 21vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 4vw 0 4vw;
}
.elem_blue{
    height: 69px;
    width: 69px;
    border-radius: 60px;
    background-color: rgba(84, 84, 212, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}
.elem_red{
    height: 69px;
    width: 69px;
    border-radius: 60px;
    background-color: rgba(240, 64, 55, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}
.elem_yellow{
    height: 69px;
    width: 69px;
    border-radius: 60px;
    background-color: rgba(254, 220, 90, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}
.elem_title{
    margin: 2vh 0 0 0;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.75px;
}
.elem_text{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
    letter-spacing: -0.5px;
}
.fourth{
    height: 77vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.fourth_center{
    height: 60vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.fourth_title{
    width: 90vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 5.3vw;
}
.fourth_title p{
    font-size: 58px;
    margin: 0;
}
.fourth_elem{
    height: 30vh;
    width: 27vw;
    border-radius: 14px;
    background: #1E1E20;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 1.8vw 1vh 0;
}
.fourth .main{
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 6vh;
}
.fifth{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgba(30, 30, 32, 0.50);
}
.fifth_title{
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.fifth_center{
    width: 56vw;
    margin-right: 14vw;
}
footer{
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
}
.footer_text{
    color: rgba(255, 255, 255, 0.70);
    text-align: end;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 237.5% */
    letter-spacing: -0.5px;
    margin: 6vh 1vw 0 41vw;
}